# bot token
BOT_TOKEN=
# ID of a guild the bot will restrict dev commands to (or all commands if in development)
HOME_GUILD_ID=
# ID of a discord text channel the bot will send logs into
LOGS_CHANNEL_ID=
