# General
python-dotenv == 0.19.*
typing-extensions >= 4.4.1
attrs == 22.1.*  # 22.1.0 is first officially supported version for python 3.11
aiohttp == 3.8.*

# SuperMechs framework
# git+https://github.com/Enegg/python-socketio
Pillow == 9.3.*
orjson  # pin at >= 3.7.7 for python 3.11

# Bot
disnake == 2.6.*
git+https://github.com/Chromosomologist/disnake-ext-plugins

# Utility
psutil
